@import 'nib'

global-reset()




.container
	margin: 0 auto
	width: 1000px
	overflow: hidden
	position: relative
	.slider
		.scroller
			
			.anydiv
				float: left
				width: 198px
				height: 198px
				background-color: #E6E6E7
				border: 1px black solid
				
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
.container {
    zoom:1; /* Хак для IE 6 и 7 */
}

